head{
  box-shadow: 0px 0px 16px rgba(38, 38, 38, 0.16);
}

.body{
  background-color: #fff;
}
.container{
  background-color: white;

}

.search {
  padding-top: 3rem;
  padding-bottom: 3rem;
  width: 100%;
}

.input search-input {
  border-bottom: 2px;

}
.search-input {
  width: 100%;
  outline: none;
  border:none !important;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  
}

.fixed_but {
	position:fixed;
	bottom:24px;
	right:16px;
	width:80px;
	height:80px;
	border-radius:2px;
	z-index:1;
}

h1 {font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 22px;
line-height: 34px; 
padding-top: 56px;
padding-bottom:32px ;}

.card-body{
  border: none;
}

.card-body:hover{
  background:#e0e0e0;
}

.card-rs-name{
font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 16px;
}


.card-rs-kitchen{
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  color: #626262;}

.card-rs-time{
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  color: #1D1D1D;

}

.bottom-logo{
  padding-top:47px ;
  padding-bottom: 30px;
}

.bottom-menu{
  padding-top:18px ;

}

.dropdown {
  padding-top:20px;
}

.link-light{
  padding-top:20px ;
  text-decoration: none;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 15px;
}

.col{
  padding-top:10px;
  padding-bottom: 10px;
}

.social_network {
  width: 32px;
}

.text-button{
  text-align: left;
}

.dropdown {
  text-align: left;
}

.one {
  width: 227px;
  height: 40px;
  padding-left: 0px;
  padding-top: 20px;

}
ul.topmenu {
  list-style: none; 
  margin: 0;
  padding-left: 10px ;
  padding-top: 10px ;
  padding-bottom:10px;
}
.topmenu > li {
  display: inline-block;
  margin-right: 20px;
  position: relative;
}
.topmenu > li:last-child {
  margin-right: 0;
}
a.topmenu1 {
  display: block;
  padding-top: 10px;
  padding-bottom: 10px;
  text-decoration: none;
  outline: none;
  font-family: Roboto;
  transition: .5s linear;
  text-align: left;
}
.fa {
  font-family: "FontAwesome";
  color: inherit;
  padding-left: 0px;
}
.submenu {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  z-index: 10;
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}
.one ul {
  background: #3B3B3B;
  
}
.one ul a {
  color: white;
  text-decoration: none;
}
.one .submenu {
  display: none;
  background: #3B3B3B;
}
.one ul li:hover .submenu {
  display: block;
  width: 270px;
  padding-left: 0px;
}

.list-inline-item{
  padding-top:20px ;
  padding-bottom: 20px;
}

.topmenu2 {list-style-type: none; }


.food1{
  border: 1px solid rgba(117, 117, 117, 0.2);
  border-radius: 2px;
  position: relative;
  height: 160px;
  margin-bottom:49px;
  padding-left: 16px;
}

.food1:hover{
  background:#e0e0e0

}


.food-img{
  position: absolute;
  right: 0;
  height: 100%;  
}

.food-name{
  font-size: 16px;
  line-height: 24px;
  color: #1D1D1D;
  padding-left:16px;
  padding-top: 16px;
}

.food-description{font-size: 13px;
  line-height: 21px;
  color: #626262;
  padding-left:16px;
  padding-top: 4px;}

.food-cost{font-size: 15px;
    line-height: 21px;
    font-weight: 500;
    color: #1d1d1d;
    position: absolute;
    bottom: 1px;
    padding-left:16px;}

.img-rest{height: 364px; 
  background-image:url(../img/bg_pushkin.jpg);   
  background-size:cover;}

.restaurant {
  background-color: white; 
  border: 1px; 
  margin-top: 80px; 
  padding: 0px 38px 0px 38px; }

.restaurant h1 {margin: 0; 
  padding-top: 38px; 
  font-weight: normal; 
  font-size: 36px; 
  line-height: 42px; 
  width: auto;}

.font-cost {
  font-size: 14px; 
  line-height: 16px; 
  margin: 0px; opacity: 0.5;}

.food-time {
  display: flex; 
  justify-content: space-between; 
  align-items: center; 
  padding-top: 54px; 
  padding-bottom: 38px;}

.font-time {width: 100px; 
  height: 32px; 
  border-radius: 16px; 
  background-color: #262626; 
  display: flex; 
  justify-content: center; 
  align-items: center; 
  font-size: 13px; color: white;}

.menu-link1{
  text-decoration: none;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  display: flex;
  align-items: flex-end;
  color: #327430;
  padding: 32px 0px 40px 32px;
}

.menu-link{
  text-decoration: none;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  display: flex;
  align-items: flex-end;
  color: #626262;
  padding: 32px 0px 40px 32px;
}
